.navbarcustom{
    background-color: rgb(51, 11, 196);
    padding:1%;
    padding-top: 2%;
}

.navbarcustom-title{
    text-decoration: none;
    color: rgb(106, 104, 104);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 2%;
    font-size: x-large;
    font-weight: bolder;
}

.navbarcustom-item{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 2%;
    font-size: large;
    font-weight: lighter;
}