<div class="box">
    <img class="productPicture" src="../../../../assets/productImg/{{product.picture}}" alt="../../../@shared/data/productImg/{{product.picture}}"/>
    <ul>
        <h3 class="productName">{{product.name}}</h3>
        <h4>Specifications</h4>
        <li>color: {{product.specifications.color}}</li>
        <li>weight: {{product.specifications.weight}}</li>
        <li>storage: {{product.specifications.storage}}</li>
        <li>Price: {{product.specifications.price}}</li>
    </ul>

    <div class="buttonDiv">
        <button class="button">Add to cart</button>
    </div>
</div>